# Input shaper and ADXL345 setup
# Input shaper can be used with the values I have determined, however it is recommended you do your own calibration.
# When calibrating using the prented specimen the commented out parts can stay as they are. If you want to use the ADXL235 sensor you need to install the rpi_mcu

# INPUT SHAPING

# PICO SETUP: https://www.youtube.com/watch?v=W_VHbT_tsZw
# RUNNING: https://www.youtube.com/watch?v=OoWQUcFimX8

# ADXL345 pin    -> Pico GPIO pin
# --------------------------------
# VCC            -> 3.3V
# GND            -> GND
# CS             -> GP1   (Chip Select)
# SCL / SCK      -> GP2   (SPI0 SCK)
# SDA / MOSI     -> GP3   (SPI0 MOSI)
# SDO / MISO     -> GP0   (SPI0 MISO)

[mcu pico] # COMMENT OUT WHEN NOT INPUT SHAPING
serial: /dev/serial/by-id/usb-Klipper_rp2040_E6642815E3607E25-if00 # COMMENT OUT WHEN NOT INPUT SHAPING

[adxl345]
cs_pin: pico:gpio1
spi_bus: spi0a

# END OF INPUT SHAPING 


[resonance_tester]
accel_chip: adxl345
probe_points:
  117.5,117.5,20  # bed center
